<div th:fragment="dashboard">
<div class="w3-container" style="text-align: center;">
	<h5 class="w3-text-theme" style="font-weight: bolder;; margin-bottom:2px; text-shadow: 1px 1px 0 #444">Your Enrolled Courses</h5>
</div>


<div class="grid-stack">

<!-- Start of First Course section -->
	<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div style="box-shadow: 4px 5px 8px #888888;" class="grid-stack-item-content w3-theme-d1">
			<div class="w3-bar w3-theme-d5">
				<div class="w3-bar-item w3-tangerine">Programming Fundamentals</div>
			</div>
			<div class="w3-container">
				<label><strong>Instructor : </strong></label><label>Mr. Kunwar Jaishankar</label>
			</div>
			<div class="w3-row">
				<div class="w3-col" style="width: 40%;">
					<div class="w3-container w3-col" style="width: 100%; border-right: 2px solid black">
						<p><button id="goToCourse1" class="w3-button w3-blue w3-round-xxlarge">Goto Course</button></p>
						<p>&nbsp;</p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<p>My Attendance: </p>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<p class="w3-text-blue"><b>90%</b></p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<label>Course Rating: </label>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<label class="w3-text-blue"><b>4.5</b></label>
					</div>
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Contents Count</b></label>
					</div>
				</div>
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Attendees</b></label>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- End of section -->
	
	<div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div style="box-shadow: 4px 5px 8px #888888;" class="grid-stack-item-content w3-theme-d1">
			<div class="w3-bar w3-theme-d5">
				<div class="w3-bar-item w3-tangerine">Fundamentals of Computer Organization</div>
			</div>
			<div class="w3-container">
				<label><strong>Instructor : </strong></label><label>Mr. Anadi Bajpai</label>
			</div>
			<div class="w3-row">
				<div class="w3-col" style="width: 40%;">
					<div class="w3-container w3-col" style="width: 100%; border-right: 2px solid black">
						<p><button class="w3-button w3-blue w3-round-xxlarge">Goto Course</button></p>
						<p>&nbsp;</p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<p>My Attendance: </p>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<p class="w3-text-blue"><b>58%</b></p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<label>Course Rating: </label>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<label class="w3-text-blue"><b>4.5</b></label>
					</div>
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Contents Count</b></label>
					</div>
				</div>
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Attendees</b></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="grid-stack-item" data-gs-x="8" data-gs-y="0" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div style="box-shadow: 4px 5px 8px #888888;" class="grid-stack-item-content w3-theme-d1">
			<div class="w3-bar w3-theme-d5">
				<div class="w3-bar-item w3-tangerine">Data and File Structure</div>
			</div>
			<div class="w3-container">
				<label><strong>Instructor : </strong></label><label>Mr. Ravi Pratap Singh</label>
			</div>
			<div class="w3-row">
				<div class="w3-col" style="width: 40%;">
					<div class="w3-container w3-col" style="width: 100%; border-right: 2px solid black">
						<p><button class="w3-button w3-blue w3-round-xxlarge">Goto Course</button></p>
						<p>&nbsp;</p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<p>My Attendance: </p>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<p class="w3-text-blue"><b>68%</b></p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<label>Course Rating: </label>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<label class="w3-text-blue"><b>4.5</b></label>
					</div>
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Contents Count</b></label>
					</div>
				</div>
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Attendees</b></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="grid-stack-item" data-gs-x="0" data-gs-y="4" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div style="box-shadow: 4px 5px 4px #888888;" class="grid-stack-item-content w3-theme-d1">
			<div class="w3-bar w3-theme-d5">
				<div class="w3-bar-item w3-tangerine">Mathematical Foundation</div>
			</div>
			<div class="w3-container">
				<label><strong>Instructor : </strong></label><label>Mr. Yadunath Kushwaha</label>
			</div>
			<div class="w3-row">
				<div class="w3-col" style="width: 40%;">
					<div class="w3-container w3-col" style="width: 100%; border-right: 2px solid black">
						<p><button class="w3-button w3-blue w3-round-xxlarge">Goto Course</button></p>
						<p>&nbsp;</p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<p>My Attendance: </p>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<p class="w3-text-blue"><b>78%</b></p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<label>Course Rating: </label>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<label class="w3-text-blue"><b>4.5</b></label>
					</div>
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Contents Count</b></label>
					</div>
				</div>
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Attendees</b></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="grid-stack-item" data-gs-x="4" data-gs-y="4" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div style="box-shadow: 4px 5px 4px #888888;" class="grid-stack-item-content w3-theme-d1">
			<div class="w3-bar w3-theme-d5">
				<div class="w3-bar-item w3-tangerine">Elements of Basic Communication</div>
			</div>
			<div class="w3-container">
				<label><strong>Instructor : </strong></label><label>Mr. Abhishek Kumar</label>
			</div>
			<div class="w3-row">
				<div class="w3-col" style="width: 40%;">
					<div class="w3-container w3-col" style="width: 100%; border-right: 2px solid black">
						<p><button class="w3-button w3-blue w3-round-xxlarge">Goto Course</button></p>
						<p>&nbsp;</p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<p>My Attendance: </p>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<p class="w3-text-blue"><b>70%</b></p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<label>Course Rating: </label>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<label class="w3-text-blue"><b>4.5</b></label>
					</div>
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Contents Count</b></label>
					</div>
				</div>
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Attendees</b></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="grid-stack-item" data-gs-x="8" data-gs-y="4" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div style="box-shadow: 4px 5px 4px #888888;" class="grid-stack-item-content w3-theme-d1">
			<div class="w3-bar w3-theme-d5">
				<div class="w3-bar-item w3-tangerine">Web Technology</div>
			</div>
			<div class="w3-container">
				<label><strong>Instructor : </strong></label><label>Mr. Ravendra Singh</label>
			</div>
			<div class="w3-row">
				<div class="w3-col" style="width: 40%;">
					<div class="w3-container w3-col" style="width: 100%; border-right: 2px solid black">
						<p><button class="w3-button w3-blue w3-round-xxlarge">Goto Course</button></p>
						<p>&nbsp;</p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<p>My Attendance: </p>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<p class="w3-text-blue"><b>80%</b></p>
					</div>
				</div>
				<div class="w3-col" style="width: 60%;">
					<div class="w3-container w3-col" style="width: 75%">
						<label>Course Rating: </label>
					</div>
					<div class="w3-container w3-col" style="width: 25%">
						<label class="w3-text-blue"><b>4.5</b></label>
					</div>
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Contents Count</b></label>
					</div>
				</div>
				<div class="w3-half" style="text-align: center;">
					<div class="w3-row">
						<label class="w3-text-blue"><b>20</b></label>
					</div>
					<div class="w3-row">
						<label><b>Attendees</b></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/gridstack.all.js"></script>
	<script type="text/javascript">
		var grid = GridStack.init();
	</script>
</div>
</div>