<div th:fragment="addCourse">
	<div class="w3-main" style="margin-left:300px;">
		<div style="position: relative;">
			<div class="w3-theme-d2" style="opacity: .8">
				<div class="w3-container">
				<h3 style="font-weight: 600;">
			  		<img class="w3-hide-large" src="/images/icons/hide-grader-panel.png" style="cursor: pointer;"  onclick="w3_open()">
			  		<img src="/images/icons/course.png" style="width: 35px;">
			  		&nbsp;&nbsp;Add Course
			  	</h3>
			  </div>
			</div>
		</div>
		<div class="w3-container" style="margin-top: 16px; opacity: .95">
			<form id="addCourseForm" action="#">
				<div id="addCourse" class="w3-card w3-theme-l3 w3-padding">
						<div class="w3-row">
							<div class="w3-container w3-half">
								<p><label>Course Code</label>
						    	<input id="saveCourseCode" name="coursecode" class="w3-input w3-border" type="text"></input></p>
						    	<p><label>Course Title</label>
						    	<input id="saveCourseTitle" name="coursetitle" class="w3-input w3-border" type="text"></input></p>
							</div>
							<div class="w3-container w3-half">
								<p><label>Course Summary</label>
							    <textarea id="saveCourseDescr" name="coursedescr" class="w3-input w3-border" style="resize: none" rows="5"></textarea></p>
							</div>
						</div>
					
						<div class="w3-container">
							<button id="saveCourses" class="w3-button w3-theme-d5 w3-section w3-padding" type="button"><img src="/images/icons/save.png" style="width: 18px;">&nbsp;&nbsp;Save</button>
							<button class="w3-button w3-red" onclick="document.getElementById('addCourse').style.display='none'" type="button">Cancel</button>
						</div>
					
					<input id="saveCourseid" name="courseid" type="hidden">
					<input id="saveCreatedBy" name="createdby" type="hidden">
				</div>
			</form>
		</div>
	</div>
	<script src="/js/addCourse.js"></script>
</div>