<div th:fragment="dashboard">
	<div class="w3-main" style="margin-left:300px;">
		<div style="position: relative;">
			<div class="w3-theme-d2" style="opacity: .8">
			  <div class="w3-container">
				<!-- <button class="w3-button w3-large" style="padding-bottom: 0px;" onclick="w3_open()"><i class="material-icons">reorder</i><h3 style="margin-top: 0px; margin-bottom: 0px;">Programming Fundamentals</h3></button> -->
			  	<!-- <h3 style="font-weight: 600;">
			  		<img class="w3-hide-large" src="/images/icons/hide-grader-panel.png" style="cursor: pointer;"  onclick="w3_open()">
			  		<img src="/images/icons/analytics.svg" style="width: 35px;">
			  		&nbsp;&nbsp;Your Study Analytics
			  	</h3> -->
			  	<h3 style="font-weight: 600;">
			  		<img class="w3-hide-large" src="/images/icons/hide-grader-panel.png" style="cursor: pointer;"  onclick="w3_open()">
			  		&nbsp;&nbsp;<label th:text="'Welcome ' +${name} + '(' + ${campusid}+')'"></label>
			  	</h3>
			  </div>
			</div>
		</div>
		
		<!--<div class="w3-row-padding" style="opacity: .9;">
			<div class="w3-col s12 m4 l3">
				<div class="my-panel w3-card-4 w3-blue" style="text-align: center">
					<h1>0</h1>
					<p>Pending Assignments</p>
				</div>
			</div>
			<div class="w3-col s12 m4 l3">
				<div class="my-panel w3-card-4 w3-green" style="text-align: center">
					<h1>0</h1>
					<p>Upcoming Assessments</p>
				</div>
			</div>
			<div class="w3-col s12 m4 l3">
				<div class="my-panel w3-card-4 w3-blue-grey" style="text-align: center">
					 <h1>0</h1>
					 <p>Scheduled Classes</p>
				</div>
			</div>
			<div class="w3-col s12 m4 l3">
				<div class="my-panel w3-card-4 w3-brown" style="text-align: center">
					<h1>0</h1>
					<p>Announcements</p>	
				</div>
			</div>
		</div>-->

		<div class="w3-row-padding" style="opacity: .95;">
			<div class="w3-half">
				<div class="my-panel w3-card-4 w3-theme-l5">
					<div class="w3-bar w3-theme-d4">
						<h5 class="w3-bar-item"><img src="/images/icons/announcement.svg">&nbsp;&nbsp;&nbsp;Announcement</h5>
					</div>
					<div class="w3-bar w3-theme-l5">
						<p class="w3-bar-item">Currently you can view and validate information regarding "Courses and classes you are enrolled in"</p>
						<p class="w3-bar-item">It is to bring to your notice that these information have been pulled from
							peopleSoft system. In case of any inconsistency in these information
							please contact SRDT Team.</p>
						<p class="w3-bar-item">Currently "Course Plan" module is fully functional and you can download the
						content shared by your faculty in respective course.</p>
						<p class="w3-bar-item">Regards<br><i>SRDT Development Team</i></p>
					</div>
				</div>
			</div>
			<div class="w3-half">
				<div class="my-panel w3-card-4 w3-theme-l5">
					<div class="w3-bar w3-theme-d4">
						<h5 class="w3-bar-item"><img src="/images/icons/announcement.svg">&nbsp;&nbsp;&nbsp;Announcement</h5>
					</div>
					<div class="w3-bar w3-theme-l5">
						<p class="w3-bar-item">This is your personal dashboard. In coming days you will be able to view your daily analytics regarding your curricular activities on this page. Development is under progress and will be delivered soon.</p>
						<p class="w3-bar-item">Regards<br><i>SRDT Development Team</i></p>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="w3-row-padding" style="opacity: .95;">
			<div class="w3-half">
				<div class="my-panel w3-card-4 w3-theme-l5">
					<canvas id="bar-chart"></canvas>
				</div>
			</div>
			<div class="w3-half">
				<div class="my-panel w3-card-4 w3-theme-l5">
					<canvas id="pie-chart"></canvas>
				</div>
			</div>
		</div>
		<div class="w3-row-padding" style="opacity: .95;">
			<div class="w3-half">
				<div class="my-panel w3-card-4 w3-theme-l5">
					<canvas id="line-chart"></canvas>
				</div>
			</div>
			<div class="w3-half">
				<div class="my-panel w3-card-4 w3-theme-l5">
					<canvas id="radar-chart"></canvas>
				</div>
			</div>
		</div>
		<div class="w3-row-padding" style="opacity: .95;">
			<div class="w3-half">
				<div class="my-panel w3-card-4 w3-theme-l5">
					<canvas id="polar-chart"></canvas>
				</div>
			</div>
			<div class="w3-half">
				<div class="my-panel w3-card-4 w3-theme-l5">
					<canvas id="mixed-chart"></canvas>
				</div>
			</div>
		</div>-->
	</div>
	<script src="/js/charts/Chart.min.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> -->
	<script src="/js/charts/chartJsHelper.js"></script>
</div>