<div th:fragment="manageTemplates">
	<div class="w3-main w3-animate-left" style="margin-left:300px;">
		<div style="position: relative;">
			<div class="w3-theme-d2" style="opacity: .8">
				<div class="w3-container">
					<h3 style="font-weight: 600;">
				  		<img class="w3-hide-large" src="/images/icons/hide-grader-panel.png" style="cursor: pointer;"  onclick="w3_open()">
				  		<img src="/images/icons/paperTemplate.svg" style="width: 35px;">
				  		&nbsp;&nbsp;Manage Paper Templates
					</h3>
				</div>
			</div>
		</div>
		
		<div class="w3-container" style="margin-top: 16px; opacity: .95">
			<div class="w3-card w3-theme-l3 w3-padding">
				<p style="margin-top: 0px;">Enter the required information and click search to get the list of all assessments existing for the course.</p>
				
				<div class="w3-row">
					<div>
						<form>
							<div class="divTable">
								<div class="divTr">
									<div class="d1"><h5 style="margin-bottom: 0px; margin-bottom: 0px; font-weight: bold;">Find an existing value</h5></div>
									<!-- <div class="d2">
										<a class="w3-button w3-circle w3-theme-d5 w3-large" onclick="displayAddTemplateForm()">+</a>
									</div> -->
								</div>
							</div>
							<hr class="hrline">
							<h6 style="font-style: italic;">Search Criteria</h6>
							
							<div class="w3-row-padding">
								<div class="w3-half">
									<p>
										<label>**&nbsp;Select Course</label>
										<select class="w3-select w3-border" id="courseSelect" name="courseSelect">
											<option value="" disabled selected>- Select Course -</option>
											<option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.title}" />
										</select>
									</p>
								</div>
							</div>
							
							<div class="w3-bar" style="z-index: 1">
								<div class="buttonbarpadding w3-bar-item" id="searchTemplates"><a class="w3-btn w3-theme-d5"><img src="/images/icons/xmag.png" style="width: 20px;">&nbsp;&nbsp;Search</a></div>
								<div class="buttonbarpadding w3-bar-item" id="displayAddTemplateForm"><a class="w3-btn w3-theme-d5"><img src="/images/icons/add.png" style="width: 20px;">&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</a></div>
							</div>
							
						</form>
					</div>
				</div>
			</div>
			<div class="w3-card w3-theme-l3 w3-padding" style="margin-top: 16px;">
				<div class="w3-row">
					<h5 style="margin-bottom: 0px; margin-bottom: 0px; font-weight: bold;">Search Results</h5>
					<hr class="hrline">
					<div id="resultSec" class="w3-responsive" style="display: none">
						<table id="assessmentList" class="display compact cell-border" style="width: 100%;">
							<thead>
								<tr class="w3-theme-d3">
									<th>Template ID</th>
									<th>Template Code</th>
									<th>Title</th>
									<th>Description</th>
							        <th>Created By</th>
							        <th></th>
								</tr>
							</thead>
							<tbody>
					        </tbody>
						</table>
					</div>
					<div  id="noData" class="w3-responsive" style="display: none">
						<div>
							<p>No record found...</p>
						</div>
					</div>
				</div>
			</div>
			
			<div id="">
			
			</div>
		</div>
	</div>
	<script src="/js/templates/manageTemplates.js"></script>
</div>