<div th:fragment="navbar">
	<div class="w3-top" style="z-index:3">
		<div class="w3-bar w3-theme-d5 w3-top w3-left-align">
	    	
	    	<!-- th:src="'/images/employee/'+${facultyDetails.emplid}+'.jpg'" -->
	    	<div id="replace_div_profilePic">

			</div>
			
	    	<a class="w3-bar-item w3-right w3-large w3-padding-medium" href="/home"><i class="fa fa-home" aria-hidden="true" style="font-size:24px; padding-top: 14px;"></i></a>
	    	<a class="w3-bar-item w3-padding-large"><img src="/images/myGurujiLogo.png" height="45px"></img></a>
	    	<a class="w3-bar-item w3-padding-large"><img src="/images/icons/srmuLogo3.png" height="45px" style="margin-left: -50px;"></img></a>
	  	</div>
	</div>
	<script type="text/javascript">
	function goToCourse(id){
		var courseUrl = '/course/details/' + id;
		$('#replace_div').load(courseUrl);
	}
	</script>
</div>

