<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>myGuruji</title>
		
		<style>
			.bodyDiv{
				background-image: url(https://image.freepik.com/free-vector/background-white-elegant-texture_23-2148438404.jpg);
				background-position: center;
				background-size: cover;
				height: auto;
				border: 4px solid;
				border-color: #ff6a00 #334f7e #334f7e #ff6a00;
				width: 500px;
				padding: 20px 20px;
				position:relative;
			}
		</style>
	</head>
	<body>
		<div class="bodyDiv">
			<div>
		        <div style="float:left"><img src="http://myguruji.srmu.ac.in/images/myGurujiLogo.png" width="100" /></div>
		        <div style="float:right"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Sriramswaroop.png/280px-Sriramswaroop.png" width="200" /></div>
		    </div>
		    <br />
		    <br />
		    <br />
		    <br />
		    <p style="color: #506890;"><b> Welcome to my-Guruji Learning Management System !</b></p>
		    <h3 style="color:#ff0000;">Announcement</span></h3>
	        <p style="color: #506890;">
		    	<span th:text="${textbody}"></span><br>
		    	<span>Course Title : </span><span th:text="${crse}"></span><br>
		    	<span>Assessment Title : </span><span th:text="${descr}"></span><br>
		    	<span>Start Date : </span><span th:text="${startdate}"></span><br>
		    	<span>Start Time : </span><span th:text="${starttime}"></span><br>
		    	<span>End Date : </span><span th:text="${enddate}"></span><br>
		    	<span>End Time : </span><span th:text="${endtime}"></span><br>
		    </p>
		    <p style="color: #506890;">Please log in to the assessment portal at least 10 minutes prior to the exam, and it is recommended to have a stable internet for a smooth experience.</p>
		    <p style="color: #506890;">All of your upcoming schedules will be visible to you on the assessment portal as well and for newly scheduled examinations you will receive a mail just like this one.</p>
		    <br>
	       	<p style="color: #506890;font-size:14px!important;">
	       		The exam will be conducted at : <span style="color:#ff0000;"><a href="http://myassessment.srmu.ac.in">myassessment.srmu.ac.in</a></span><br><br>
		        In case of any queries feel free to contact us at: <span style="color:#ff0000;">myguruji@srdt.co.in</span><br />
		        To read more about my-Guruji visit our website <span style="color:#ff0000;">http://elearning-myguruji.com/</span>
		    </p>			
		</div>
	</body>
</html>